  #logo {
  position:fixed;
  width:100%;
  height:74px;
  top:0px;
  left:0px;
  background-color:#58677e;
  text-align:center;
  font-family: serif, 'Times New Roman', Times;
  color:#E789A2;
  clear:both;
  display:block;
  }
 #path{
  position:fixed;
  width:100%;
  height:20px;
  top:74px;
  left:220px;
  right:0px;
  background-color:#a4b8f1;
  clear:right;
  display:block;
 } 
  #navig{
  position:fixed;
  width:220px;
  top:74px;
  bottom:60px;
  left:0px; 
  background-color:#a4b8d1;
  display:block;
  }
  #content{
  position:fixed;
  overflow:scroll;
  text-align:center;
  top:94px;
  left:220px;
  right:0px;
  bottom:60px;
  display:block;
  }
  #bottom{
  position:fixed;
  bottom:0px;
  height:60px;
  width:100%;
  left:0px;
  right:0px;
  background-color:#555;
  display:block;
  text-align:center;
  font-size:x-large;
  font-family: serif, 'Times New Roman', Times;
  color:white;
  background-attachment:fixed;
  }